* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f8f9fa
}

body {
    width: 100vw;
    height: fit-content;
    background-image: linear-gradient(335deg,
            hsl(212deg 72% 26%) 0%,
            hsl(212deg 72% 25%) 21%,
            hsl(212deg 72% 24%) 30%,
            hsl(212deg 72% 23%) 39%,
            hsl(212deg 72% 22%) 46%,
            hsl(213deg 72% 20%) 54%,
            hsl(213deg 72% 19%) 61%,
            hsl(213deg 72% 18%) 69%,
            hsl(213deg 72% 17%) 79%,
            hsl(213deg 72% 16%) 100%);
}


nav {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px #f8f9fa;
}

a {
    text-decoration: none;
    color: inherit;
}

.github-container,
.contact-container {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-container:hover,
.contact-container:hover {
    filter: drop-shadow(0px 0px 1px #f8f9fa);
}


.github-link,
.contact-link {
    margin: 0px 5px 0px 0px;
}

.contact-logo {
    height: 3vh;
    margin: 5px 0px 0px 0px;
}

.github-logo {
    height: 3vh;
    margin: 2px 0px 0px 0px;
}

.body-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
}

.banner-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-message img {
    height: 6vh;
    margin: 0px 0px 0px 20px;
}

.emojis-container {
    width: fit-content;
    height: fit-content;
    margin: 0px 0px 50px;
}

.emoji1:hover {
    opacity: 0;
    cursor: crosshair;
}

.emojis-container img {
    position: absolute;
}

.presentation {
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation-text {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 0vw 0vw 0vw 8vw;
}

.presentation-image {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me {
    height: 90vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me-container {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me h2 {
    font-size: 6vh;
    margin: 0vh 0vh 6vh 0vh;
}

.about-me li {
    list-style-type: none;
    font-weight: 550;
    font-size: 2.7vh;
    margin: 0vh 0vh 3vh 5vh;
}

footer {
    height: 20vh;
    width: 100vw;
    outline: #f8f9fa solid 1px;
}