* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f8f9fa;
}

body {
    width: 100vw;
    height: fit-content;
    background-color: rgb(131, 0, 0);
    background-image:
        radial-gradient(at 40% 20%, rgb(136, 98, 66) 0px, transparent 50%),
        radial-gradient(at 80% 0%, rgb(20, 118, 136) 0px, transparent 50%),
        radial-gradient(at 0% 50%, rgb(107, 90, 92) 0px, transparent 50%),
        radial-gradient(at 80% 50%, rgb(136, 72, 93) 0px, transparent 50%),
        radial-gradient(at 0% 100%, rgb(146, 103, 79) 0px, transparent 50%),
        radial-gradient(at 80% 100%, rgb(56, 53, 134) 0px, transparent 50%),
        radial-gradient(at 0% 0%, rgb(136, 70, 89) 0px, transparent 50%);
}

a {
    text-decoration: none;
    color: inherit;
}

.body-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 80vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
}

.banner-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-message h1 {
    transition: filter 0.3s ease-out;
}

.banner-message h1:hover {
    filter: drop-shadow(0px 0px 20px #000000);
    cursor: default;
}

.banner-message img {
    height: 6vh;
    margin: 0px 0px 0px 20px;
}

.emojis-container {
    width: fit-content;
    height: fit-content;
    margin: 0px 0px 50px;
}

.emoji1:hover {
    opacity: 0;
    cursor: crosshair;
}

.emojis-container img {
    position: absolute;
}

.presentation {
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation-text {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 0vw 0vw 0vw 8vw;
}

.presentation-image {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me {
    height: 90vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me-container {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me h2 {
    font-size: 5vh;
    margin: 0vh 0vh 6vh 0vh;
}

.about-me li {
    list-style-type: none;
    font-weight: 550;
    font-size: 2.5vh;
    margin: 0vh 0vh 4vh 5vh;
}

.albums {
    width: 80vw;
    height: 90vh;
    display: flex;
    font-size: 3vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.albums h2 {
    margin: 0% 0% 3% 0%;
}

.albums-container {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.album1,
.album2,
.album3 {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album1 a,
.album2 a,
.album3 a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.album-image {
    width: 60%;
    border-radius: 6px;
    transition: filter 0.2s ease-out;
}

.album-image:hover {
    filter: drop-shadow(0px 0px 10px #000000);
}

.album-title {
    margin: 15px 0px 5px 0px;
    font-size: x-large;
}

.album-artist {
    font-size: x-large;
    font-weight: 600;
}

.css-html {
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
}

.animated-logos {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 4vh 0vh 0vh 0vh;
}

.css-logo,
.html-logo {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-logo img,
.html-logo img {
    width: 50%;
    transition: filter 0.4s ease-out;
}

.css-logo img:hover,
.html-logo img:hover {
    filter: drop-shadow(0px 0px 5px #f8f9fa);
}

.html-logo img {
    animation: logo-animation 11s ease 0s infinite normal none;
}

.css-logo img {
    animation: logo-animation 10s ease 0s infinite normal none;
}

@keyframes logo-animation {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
    }
}

p:hover,
h2:hover,
li:hover {
    cursor: default;
}

footer {
    height: 22vh;
    width: 100vw;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-top {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-top-left,
.footer-top-right {
    height: 100%;
    width: 39%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-top-left hr,
.footer-top-right hr {
    width: 100%;
    color: #6c757d;
}

.footer-top-mid {
    height: 100%;
    width: 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top-mid a {
    height: 60%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.footer-top-mid img {
    height: 100%;
}

.footer-top-mid img:hover {
    filter: brightness(180%)
}

.footer-bottom {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-bottom img {
    height: 50%;
    margin: 10px 0px 10px 0px;
}

.footer-bottom p {
    color: #6c757d;
    font-size: small;
}